<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form #employeeForm="ngForm">

                    <div class="form-group">
                        <input type="text" class="form-control" name="name" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Enter your fullname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="position" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Enter your position">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="office" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Enter your office">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="salary" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Enter your salary">
                    </div>

                    <button class="btn btn-primary m-2" (click)="resetForm(employeeForm)">
                        Clean
                    </button>
                    <button class="btn btn-secondary" (click)="addEmployee(employeeForm)">
                        Save
                    </button>
                </form>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <table class="table table-triped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Office
                    </th>
                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeService.employees">
                    <td>{{employee.name}}</td>
                    <td>{{employee.position}}</td>
                    <td>{{employee.office}}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" (click)="editEmployee(employee)">
                            <i class="material-icons">edit</i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee._id)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>